In [1]:
import pandas as pd 
from matplotlib import pyplot as plt
import numpy as np

In [2]:
df = pd.read_csv('../data/lichess_db_standard_rated_2013-01.csv')
df.replace('?', np.nan, inplace=True)
df = df.dropna()
display(df)

/tmp/ipykernel_22004/937136855.py:1: DtypeWarning: Columns (0,1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/lichess_db_standard_rated_2013-01.csv')

,white_elo,black_elo,blacks_move,A1,A2,A3,A4,A5,A6,A7,...,G8,H1,H2,H3,H4,H5,H6,H7,H8,selected_move
0,1639,1403,0,10,8,9,11,12,9,8,...,1,4,2,3,5,6,3,2,4,e2e4
1,1639,1403,1,10,8,9,11,12,9,8,...,1,4,2,3,5,6,3,2,4,e7e6
2,1639,1403,0,10,8,9,11,12,9,8,...,1,4,2,3,5,6,3,2,4,d2d4
3,1639,1403,1,10,8,9,11,12,9,8,...,1,4,2,3,5,6,3,2,4,b7b6
4,1639,1403,0,10,8,9,11,12,9,8,...,1,4,2,3,5,6,3,2,4,a2a3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8155182,1744,1762,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,g5f4
8155183,1744,1762,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,d5c4
8155184,1744,1762,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,f6g5
8155185,1744,1762,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,c4b3
8155186,1744,1762,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,g5g4

In [3]:

target = df["selected_move"]
labels  = df.drop(columns=["selected_move"])

print(f"DataFrame shape: {df.shape}")
print(f"Target shape: {df['selected_move'].shape}")
print(f"Labels shape: {df.drop(columns=['selected_move']).shape}")

DataFrame shape: (8143801, 68)
Target shape: (8143801,)
Labels shape: (8143801, 67)

## Split the data

In [4]:
from sklearn.model_selection import train_test_split

# train test val split
train_x, test_x, train_y, test_y = train_test_split(labels, target, test_size=0.1, random_state=42)
val_x, test_x, val_y,  test_y = train_test_split(test_x, test_y, test_size=0.5, random_state=42)

print(f"Train size: {len(train_x)}")
print(f"Val size: {len(val_x)}")
print(f"Test size: {len(test_x)}")

# train_x.describe()

Train size: 7329420
Val size: 407190
Test size: 407191

In [ ]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=10, random_state=42, n_jobs=-1)
model.fit(train_x, train_y)

In [ ]:
# score the model
train_acc = model.score(train_x, train_y)
val_acc   = model.score(val_x, val_y)
print(f"Train accuracy: {train_acc:.4f}")
print(f"Val accuracy: {val_acc:.4f}")